/*
.patient-page-section { 
  margin-bottom: 40px; 
}*/

/*--completed */
.drugs ul { 
	list-style-type: none; 
	margin-left: 1em; 
	width: 65%; 
} 
 
.drugs ul li { 
    font: 200 1.5em/1.5 Roboto, sans-serif; 
    border-bottom: 1px solid #ccc; 
} 

.recAct ul {
  list-style-type: none; 
  margin-left: 1em; 
  width: 65%;  
}

.drugs ul li { 
    font: 200 1.5em/1.5 Roboto, sans-serif;
} 
 
.activity-list { 
	list-style-type: none; 
	font-size: 1.2em; 
} 
 
.submitBtn { 
    background-color: #F33259; 
    color: #fff; 
    border: solid red 0.2px; 
    border-radius: 1em; 
    width: 12em; 
    height: 3em; 
    transition: all 0.5s ease-in; 
    text-align: center; 
} 
 
.personal-info { 
    height: 65px; 
    background-color: #000; 
    color: #fff; 
    text-align: center; 
    margin-bottom: 30px; 
} 
 
.personal-info-metaData { 
	position: relative;
  float: left; 
  top: 32%; 
  left: 5%; 
  width: 33%; 
} 
 
.faIcon { 
  font-size: 1.5em; 
} 
 
.metaData { 
  float: left; 
  margin-right: 12px; 
} 

.info-header { 
  font-weight: 500; 
  text-shadow: 1px 0; 
} 
 
.header-section { 
  color: #fff; 
  background-color: #464646; 
  height: 200px; 
} 
 
.info-header-wrapper { 
  margin-bottom: 50px; 
} 
 
.header-section div { 
  margin-left: 15px; 
} 
 
.patient-name { 
  position: relative; 
  float: left; 
  top: 90px; 
  margin: 5px; 
} 
 
.face-picture { 
  position: relative; 
  float: left; 
  top: 68px; 
  margin: 5px; 
} 

.face-picture img { 
  width: 110px; 
  height: 110px; 
} 

.patient-page-content {
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 750px) {
  .personal-info { 
    height: 120px; 
  } 

  .personal-info-metaData { 
    overflow: hidden;
    width: 100%; 
    top: 10%;
    left: 15px;
    text-align: center;
  } 

}
