.invoice {
	width: 970px !important;
}

.pharmacist-heading p{
	color: gray;
	font-size: 1.2rem;
}
.card {
	border-radius: 5px;
}
.card-title {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #F33259;
	color: white;
	padding: 10px;
	/*height: 40px;*/
}
.dl-horizantal {
	margin: 0;
}
.dl-horizantal dt {
	float: left;
	width: 80px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;;
	white-space: nowrap;
}
.dl-horizantal dd {
	margin-left: 90px;
}